<%= form_with(model: aluno,local: true) do |form|%>
    <div class="field">
        <%= form.label :nome%>
        <%= form.text_field :nome%>
    </div>
    <div class="field">
        <%= form.label :classe%>
        <%= form.text_field :classe%>
    </div>
    <div class="field">
        <%= form.label :endereco%>
        <%= form.text_field :endereco%>
    </div>
    <div class="field">
        <%=form.label :data_nasc%>
        <%=form.text_field:data_nasc%>
    </div>
    <div class="field">
        <%=form.label :b1%>
        <%=form.text_field :b1%>
    </div>
    <div class="field">
        <%=form.label :b2%>
        <%=form.text_field :b2%>
    </div>
    <div class="actions">
        <%= form.submit%>
    </div>
<%end%>
