
  <div class="hero-body">
  <div class = "notification">
    <%= form_with(model: aluno,local: true) do |form|%>
    <p>
         <div class="field">
            <%= form.label :nome%>
            <%= form.text_field :nome%>   
        </div>
    </p>   
    <p>
        <div class="field">
            <%= form.label :classe%>
            <%= form.text_field :classe%>   
        </div>
    </p>
    <p>   
        <div class="field">
            <%= form.label :endereco%>
            <%= form.text_field :endereco%>
        </div>
    </p>
    <p>   
        <div class="field">
            <%=form.label :data_nasc%>
            <%=form.date_select :data_nasc, start_year: 1970%>
        </div>
    </p>
    <p>   
        <div class="field">
            <%=form.label :b1%>
            <%=form.text_field :b1%>
        </div>
    </p>
        <p>
        <div class="field">
            <%=form.label :b2%>
            <%=form.text_field :b2%>
        </div>
    </p>
    <p>  
        <div class="actions">
            <div class="actions">
           <input class="button" type="submit" name="commit" value="Criar Aluno" data-disable-with="Create Aluno" /></button>
         </div>
        </div>
        </p>
    <%end%>
    </div>
</div>
</div>