<div class="hero">
    <div class="notification">
      <h1 class="title">
        Aluno:
      </h1> 
    </div>
  </div>

<% if notice%>
<div class="hero">
      <script>
      alert(<%=notice%>) 
      </script>
<%end%>

<%if @aluno.media < 7%>
    <script>
      alert(" Aluno Reprovado pois tem média menor que 7.");
    </script>
<%end%>

  <div class="hero-body is-bold">
  <div class = "notification">
<p>
<figure class="image is-128x128">
  <img class="is-rounded" src= <%= @aluno.foto.url(:medium) %> </img>
</figure>
  
</p>
<p>
    <strong>Id:</strong>
    <%= @aluno.id %>
</p>

<p>
<strong>Nome:</strong>
<%=@aluno.nome%>
</p>

<p>
<strong>Data de Nascimento:</strong>
<%=format_data(@aluno.data_nasc)%>
</p>

<p>
<strong>Sexo:</strong>
  <%=@aluno.sexo%>
</p>

<p>
<strong>Telefone:</strong>
  <%if @aluno.telefone != nil%>
    <%=format_telefone(@aluno.telefone.to_s)%>
  <%else%>
    <i>Telefone não cadastrado </i>
  <%end%>
</p>

<p>
<strong>Endereço:</strong>
<%=@aluno.endereco%>
</p>



<p>
<strong>Classe:</strong>
<%=classe_identifica(@aluno.classe_id)%>
</p>

<p>
<strong>B1:</strong>
<%=@aluno.b1%>
</p>

<p>
<strong>B2:</strong>
<%=@aluno.b2%>
</p>

<p>
<strong>Media:</strong>
<%=@aluno.media%>
</p>

<p>
<strong>Status:</strong>
<%=@aluno.status%>
</p>
</div>
</div>
<button class="button is-outlined"><%= link_to 'Voltar', alunos_path %></button>
<button class="button is-outlined"><%= link_to 'Editar', edit_aluno_path(@aluno)%></button>

