<div class="hero">
    <div class="notification">
      <h1 class="title">
        Aluno:
      </h1> 
    </div>
  </div>

<% if notice%>
<div class="hero">
    <div class="notification">
      <p id="notice"><%=notice%></p>
    </div>
  </div>
<%end%>

<%if @aluno.media < 7%>
    <div class="hero">
    <div class="notification">
      <p> Aluno Reprovado pois tem média menor que 7. </p>
    </div>
  </div>
<%end%>

  <div class="hero-body is-bold">
  <div class = "notification">
<p>
    <strong>Id:</strong>
    <%= @aluno.id %>
</p>

<p>
<strong>Nome:</strong>
<%=@aluno.nome%>
</p>

<p>
<strong>Classe:</strong>
<%=@aluno.classe%>
</p>

<p>
<strong>Endereço:</strong>
<%=@aluno.endereco%>
</p>

<p>
<strong>Data de Nascimento:</strong>
<%=@aluno.data_nasc%>
</p>

<p>
<strong>B1:</strong>
<%=@aluno.b1%>
</p>

<p>
<strong>B2:</strong>
<%=@aluno.b2%>
</p>

<p>
<strong>Media:</strong>
<%=@aluno.media%>
</p>

<p>
<strong>Status:</strong>
<%=@aluno.status%>
</p>
</div>
</div>
<button class="button is-outlined"><%= link_to 'Voltar', alunos_path %></button>
<button class="button is-outlined"><%= link_to 'Editar', edit_aluno_path(@aluno)%></button>

