<div>
<% if notice%>
<div class="hero">
    <div class="notification">
      <p id="notice"><%=notice%></p>
    </div>
  </div>
<%end%>

    <div class="hero-body">
    <h1 class = title> Classes
    </h1>
</div>

    <button class="button is-outlined"><%= link_to 'Nova', new_class_path %></button>

<div class ="hero-body">
    <div class="container has-text-centered">
    <table class= "table is-striped is-fullwidth">
    <thead>
    <tr>
        <th>id</th>
        <th>Classe</th>
    </tr>
    </thead>
            <tbody>
            <% @classes.each do |classe|%>
            <tr>
            <td><%= classe.id%></td>
            <td><%= classe.nome%></td>
            <td><button class="button is-outlined"><%= link_to 'Mostrar', classe %></button></td>
            <td><button class="button is-outlined"><%= link_to 'Editar', edit_class_path(classe)%></button></td>
            <td><button class="button is-outlined"><%= link_to 'Excluir', classe,method: :delete, data: {confirm: 'Tem certeza que deseja excluir?'}%></button></td>
            </tr>
            <%end%>
        </tbody>
        </table>
</div>
</div>

<br>
<%#= link_to 'Home', dashboard_index_path %>

