<!DOCTYPE html>
<html>
  <head>
    <title>Escola</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

<body style="background-color:#f5f5f5;">
   <div class = "hero-head">
        <div class = "navbar">
            <div class = "container">
                <div class= "navbar-brand">
                    <a class = "navbar-item">
                    <center>
                        <%= link_to 'Sistema Escola', dashboard_index_path %>
                        </center>
                    </a>
                </div>
                <div class= "navbar-brand">
                    <div class="navbar-end">
                        <a class = "navbar-item">
                        <center>
                            <%= link_to 'Alunos', alunos_path %>
                        </center>
                        </a>
                        <a class = "navbar-item">
                        <center>
                            <%= link_to 'Classes', classes_path %>
                        </center>
                        </a>
                    </div>
                </div>
                </div>
        </div>
    <%= yield %>
    <footer class="footer">
      <div class = "content has-text-centered">
        <p><small> Cats_Code LTDA - Todos os direitos reservados</small></p>
      </div>
    </footer>
  </body>
</html>
